*{
    box-sizing: border-box;
}
.header {
    background-color: #635854;
    height: 50px;
    color: rgb(255, 255, 255);
    display: flex;
    text-decoration: none;
    line-height: 16px;
    border-bottom: 5px solid #3596F5
}
.navbar{
    max-width: 1200px;
    margin:auto;
    display: flex;
    justify-content: space-between;
    justify-items: center;
}
.navbar-menu {
margin: 0px;
padding: 0px;
list-style: none;
display: flex;
text-align:center;
}
.navbar-item{
    margin-left:40px;
    margin-right: 40px;
}
.navbar-link{
    text-decoration: none;
    color: #fff;
}
.ataj{
    position: absolute;
    color: #635854;
    margin-left:1000px;
    top: 200px;
    font-size: 35px
}
body{
font-family: 'Roboto', sans-serif; 
zoom: 0.8;
}
.last {
    display: flex;
    flex-direction: row;
    margin-left: 900px;
    text-decoration: underline;
    color:#635854;
}
footer {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100px;
}
.selk {
    display: flex;
    flex-direction: row;
    margin-left: 1000px;
    text-decoration: underline;
    color:#584740
}
.foot {
    margin-top: 50px;
    height: 100px;
    background-color: #d7d7d7;
}
.nolsem{
  position: absolute;
    top: 300px;
    margin-left: 450px;
}
.smotr{
    position: absolute;
    top: 550px;
    margin-left: 340px;
}
